.App {
 display: flex;
 justify-content: center;
 
}

#pointed-rectangle {
    height: 60px;
    width: 150px;
    font-size: 40px;
    text-align: center;
    background: red;
    color: white;

}

.corner {
    width: 100px;
    background-color:red;
    margin: 10px;
    position: relative;
}
.corner:after, .corner:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 40px;
    height: 50%;
}
.corner:before {
    top: 0px;
    background: linear-gradient(to top right, red 50%, transparent 51%);
}
.corner:after {
    bottom: 0px;
    background: linear-gradient(to bottom right, red 50%, transparent 51%);
}

.zip-component{
    height: 40vh;
    width: 40vw;
    border: 2px black solid; 
    text-align: center;
    margin:30px auto;
}
